@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

a.active hr{
  display: block;
}

*{
  font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width:640px) {
  a.active {
    background-color: rgb(92, 87, 82);
    color:white;
  }
}